In [1]:
# IMPORTING THE DATA
import pandas as pd

In [2]:
data =  pd.read_csv('connectfour.data', sep=",")

In [3]:
data.head()

,b,b.1,b.2,b.3,b.4,b.5,b.6,b.7,b.8,b.9,...,b.25,b.26,b.27,b.28,b.29,b.30,b.31,b.32,b.33,win
0,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,win
1,b,b,b,b,b,b,o,b,b,b,...,b,b,b,b,b,b,b,b,b,win
2,b,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,win
3,o,b,b,b,b,b,b,b,b,b,...,b,b,b,b,b,b,b,b,b,win
4,b,b,b,b,b,b,b,b,b,b,...,b,b,b,o,b,b,b,b,b,win

In [4]:
data.shape

(67556, 43)

In [5]:
# MAKING DATA SUITABLE FOR MODEL
data.replace('b', 0, inplace = True)
data.replace('x', 1, inplace = True)
data.replace('o', -1, inplace = True)
data.head()

,b,b.1,b.2,b.3,b.4,b.5,b.6,b.7,b.8,b.9,...,b.25,b.26,b.27,b.28,b.29,b.30,b.31,b.32,b.33,win
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,win
1,0,0,0,0,0,0,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,win
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,win
3,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,win
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,-1,0,0,0,0,0,win

In [6]:
data.replace('win', 0, inplace = True)
data.replace('loss', 1, inplace = True)
data.replace('draw', 2,inplace = True)

In [7]:
data.head()

,b,b.1,b.2,b.3,b.4,b.5,b.6,b.7,b.8,b.9,...,b.25,b.26,b.27,b.28,b.29,b.30,b.31,b.32,b.33,win
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,-1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,-1,0,0,0,0,0,0

In [8]:
data['win']

0        0
1        0
2        0
3        0
4        0
        ..
67551    1
67552    2
67553    1
67554    2
67555    2
Name: win, Length: 67556, dtype: int64

In [9]:
# SPLITING THE DATA IN TRAIN AND TEST
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns = "win"), data['win'], test_size = 0.20, shuffle = True, random_state = 1024)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size = 0.25, shuffle = True, random_state = 1024)

In [10]:
X_train.shape, y_train.shape

((54044, 42), (54044,))

In [11]:
X_test.shape, y_test.shape

((10134, 42), (10134,))

In [12]:
X_val.shape, y_val.shape

((3378, 42), (3378,))

In [ ]:
import tensorflow as tf